.html{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;   
  border:solid yellow;
  width:50%;
  height:320px;
  background-size:cover;
  background-repeat: no-repeat;
  position:center;
    margin:60px; transition:transform ease 3s;
   background-image:url("https://i.ibb.co/vxHwBqFR/sta-je-html.jpg");
  border-radius:25px;
    font-size:30px;
    color:navy;
    padding:20px;
   
}
h1{
  background-image:url("https://i.ibb.co/qFjWVWmq/1-m2-Q3k-RG9yl5-Wy-NIyoe15-XA.png");
  background-size:contain;
  background-clip:text;
  color:transparent;
  text-align:center;
  font-size:45px; 
}

.superior{
display:flex;
 justify-content:center;
align-items:center;
flex-direction:column;
  
  
}
.html:hover {
border:solid blue;
transform:scale(1.2);
box-shadow: 8px 7px 30px green;
}
.grid-2{
display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;   
  border: solid orange;
  width:50%;
  height:320px;
   position:center;
    margin:60px;
  font-size:30px;
  color:black;
  background-image:url("https://i.ibb.co/Z6x2txmH/geradores-codigos-CSS.jpg");
     background-size:cover;
  background-repeat: no-repeat;
  transition:transform ease 3s;
  border-radius:25px;
    padding:20px;
}
.grid-2:hover {
border:solid yellow;
transform:scale(1.2);
box-shadow: 8px 7px 30px green;
}
.grid-3{
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px; 
  border:solid blue;
   width:50%;
  height:320px;
   position:center;
    margin: 100px;
  font-size:30px;
   transition:transform ease 3s;
  background-image:url("https://i.ibb.co/mCKY3wk9/logo.png");
  background-size:cover;
   background-repeat: no-repeat;
  color:white;
    padding:20px;
  
  border-radius:25px;
}
.grid-3:hover{
  transform:scale(1.2);
box-shadow: 8px 7px 30px green;
    border:solid orange;
  
  
  
}
body.dark {
background-color:black;
 color:white;
}
body{
  background:purple;
  
  
}
#botao:hover {
  box-shadow: 3px 3px 15px white;
 

  
}
#botao{
  background: linear-gradient(to right, white, black);
    border-radius:40px;
    width:50px;
  height:30px;
    position:relative;
    cursor:pointer;
}
body.dark .butao{
 left:19px;
background:white;
}
.botao .butao{
background-color:black;
  width:10px;
  height:20px;
  border-radius:70px;
  padding:6px 10px;
  transform:scale(0.8);
  position:absolute;
  left: 0;
 transition:0.5s;
}
.lin{
    font-size:30px;
    border:none;
      background-color:transparent;
    transition:0.3s;
}
.lin:hover{
  transform:scale(1.8);
}
.lin2{
  font-size:30px;
    border:none;
      background-color:transparent;
    transition:0.3s;
    display:flex;
}
.lin2:hover{
   transform:scale(1.8);
}

    
@media (max-width: 768px) {
  .grid-2, .grid-3, .html{
    width: 80%;   
       grid-template-columns: 1fr;
      font-size:18px;
      padding:20px;
  }  
  }
