.html{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;   
  border:solid blue;
  width:50%;
  height:320px;
  background-size:cover;
  background-repeat: no-repeat;
  position:center;
    margin:60px; transition:transform ease 3s;
   background-image:url("https://i.ibb.co/vxHwBqFR/sta-je-html.jpg");
  border-radius:25px;
    font-size:30px;
    color:navy;
    padding:10px;
   
}
h1{
  background-image:url("https://i.ibb.co/qFjWVWmq/1-m2-Q3k-RG9yl5-Wy-NIyoe15-XA.png");
  background-size:contain;
  background-clip:text;
  color:transparent;
  text-align:center;
  font-size:45px; 
}

.superior{
display:flex;
 justify-content:center;
align-items:center;
flex-direction:column;
  
  
}
.html:hover {
border:solid red;
transform:scale(1.2);
box-shadow: 8px 7px 30px green;
}
.grid-2{
display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;   
  border: solid red;
  width:50%;
  height:320px;
   position:center;
    margin:60px;
  font-size:30px;
  color:black;
  background-image:url("https://i.ibb.co/Z6x2txmH/geradores-codigos-CSS.jpg");
     background-size:cover;
  background-repeat: no-repeat;
  transition:transform ease 3s;
  border-radius:25px;
    padding:10px;
}
.grid-2:hover {
border:solid red;
transform:scale(1.2);
box-shadow: 8px 7px 30px green;
}
.grid-3{
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px; 
  border:solid violet;
   width:50%;
  height:320px;
   position:center;
    margin: 100px;
  font-size:30px;
   transition:transform ease 3s;
  background-image:url("https://i.ibb.co/r2yWsMKC/curso-388.jpg");
  background-size:cover;
   background-repeat: no-repeat;
  color:white;
    padding:10px;
  
  border-radius:25px;
}
.grid-3:hover{
  transform:scale(1.2);
box-shadow: 8px 7px 30px green;
  
  
  
}
body.dark {
background-color:black;
 color:white;
}
body{
  background:purple;
  
  
}
#botao:hover {
  box-shadow: 2px 5px 20px red;
 

  
}
#botao{
  background:blue;
  border:transparent;
  background-image:url("https://i.ibb.co/9mczwD8L/Captura-de-tela-2025-11-28-122845.png");
  background-size:cover;
    width:30px;
  height:30px;
}
body.dark #botao{
background-image:url("https://i.ibb.co/hxKymr1s/Captura-de-tela-2025-11-28-123547.png");
background-size:cover;
  background-repeat:no-repeat;
}
@media (max-width: 768px) {
  .grid-2, .grid-3, .html{
    width: 80%;   
       grid-template-columns: 1fr;
      font-size:17px;
      padding:10px;
      
  }
